<!DOCTYPE> 
<html>
	<head>


<title>Roliga quizzes</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">

	
			
				
				<h1> Grattis! Du har {{ correct }} av {{ total }} hjärnceller</h1>

<p>

<a href="{% url "start_page" %}" class="MyButton">Igen!</a>

</p>





			</div>
		</div>
	</div>
</div>


</body>
</html>