<!DOCTYPE> 
<html>
	<head>

<title>Roliga quizzes</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">
				
				<h1>{{ question_number }}. {{ question }}</h1>
				<form action="{% url "question_page" quiz.slug question_number %}" method="post">
			
{% csrf_token %}
<p>
	<label>
		<input type="radio" name="answer" value="1" checked>
		{{ answer1 }}
	</label>
</p>
<p>
	<label>
		<input type="radio" name="answer" value="2">
		{{ answer2 }}
	</label>
</p>

<p>
	<label>
		<input type="radio" name="answer" value="3">
		{{ answer3 }}
	</label>
</p>



<p>
<button type="submit" class="MyButton">Nästa</button>
</p>

<p><a href="{% url "start_page" %}">Till startsidan</a></p>
			</div>
		</div>
	</div>
</div>


</body>
</html>
