<!DOCTYPE> 
<html>
	<head>

<title>Mallis- eller Thailandsvenne?</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">

	
			
				
				<h1>{{ question_number }}. {{ question }}</h1>
	<p>{{ answer1 }}</p>
	<p>{{ answer2 }}</p>
	<p>{{ answer3 }}</p>

<p>
<a href="question.html" class="MyButton">Nästa</a>
</p>
			</div>
		</div>
	</div>
</div>


</body>
</html>
