<!DOCTYPE> 
<html>
	<head>

<title>Mallis- eller Thailandsvenne?</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">

			<img src="/static/grabbarna.jpg" height="200" width="400">
			
				
				<h3>Mallis- eller Thailandssvenne, vem är du?</h3>
<p>
	I det här quizet tar du reda på om du är en äkta Mallorca- eller Thailandlover. 
	<p>

<p>
<a href="question.html" class="MyButton">Sätt igång!</a>
</p>
			</div>
		</div>
	</div>
</div>


</body>
</html>
