<!DOCTYPE> 
<html>
	<head>

<title>Roligt quiz</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">

			<style>
body  {
    background-image: url("grabbarna.jpg");
    background-color: #cccccc;
}
</style>
			
				<h3>{{ quiz.name }}</h3>
				<p>{{ quiz.description }}</p>
				

<p>
<a href="{% url "question_page" quiz.slug 1 %}" class="MyButton">Sätt igång!</a>
</p>
			</div>
		</div>
	</div>
</div>


</body>
</html>
