<!DOCTYPE> 
<html>
	<head>

<title>Quiz</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>
<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">
				
				<img src="/static/finally.jpg">
				<p>
					Ännu några nya hjärndöda quiz som du kan dela med dina vänner på facebook. Och du kan inte ana vilket resultat du får....
					<p>

				<p>De här quizen kan du göra:</p>
				<ul>
				  <li>Vilken slags granne är du?</li>
				  <li><a href="startquiz.html">Är du "Mallis"-svenne eller "Thailand"-svenne?</a></li>
				  <li>Är du en hund- eller kattmänniska?</li>
				  <li><a href="dokusapa.html">Hur mycket kan du om dokusåpor?</a>
				</ul>
			</div>
		</div>
	</div>
</div>

</body>
</html>

