<!DOCTYPE> 
<html>
	<head>

<title>Quiz</title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">

	</head>

<body>
<div class="container">
	<div class="row">
		<div class="column">
			<div class="wrapper">
				
				<img src="/static/finally.jpg">
				<p>
					Ännu några nya hjärndöda quiz som du kan dela med dina vänner på facebook. Du kan inte ana vilket resultat du får.... och inte dina facebookvänner heller. 

					"<i>Det perfekt samtalsämne över ett glas rosé!</i>"
					<p>

				<p>De här quizen kan du göra:</p>
				{% for quiz_slug, quiz in quizzes.items %}
   	 <p><a href="{% url "quiz_page" quiz_slug %}">
		{{ quiz.name }}
	</a></p>
{% endfor %}

			</div>
		</div>
	</div>
</div>

</body>
</html>

